.fixtures {
  margin: auto;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixtures input {
  color: wheat;
  background-color: black;
  height: 45px;
  width: 170px;
  cursor: pointer;
}
.fixtures .currentDate {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  background-color: black;
  height: 45px;
  width: 170px;
  cursor: pointer;
}
